{{> menu id="dashboard"}}
{{assessments.length}}
    <section class="ui segment">
        {{> analytics}}
        {{> addassessment}}
        {{> assessment-table}}
        {{> goal-section}}
    </section>